body{
    background: url('img/bg2.jpg') no-repeat center fixed !important;;
    background-size: cover !important;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
    pointer-events: none; 
    z-index: -1;
}

.kotak-fix{
    height: 400px;
    background-color: rgba(82, 57, 83, 0.9);
    border-radius: 12px;
    border: 2px !important;
    border-color: #000 !important;
    color: #ffffff;
    margin-right: 8px;
    
}

.tabel-scroll {
    overflow: auto;
    margin-top: 10px;
}

.input{
    color: #000;
    background-color: #ffffff;
}

.submitt{
    background: #523953;
    border-color: #000;
    color: #ffffff;
    font-weight: bold;
}
.no-p{
    min-height: 190px;
}

.nama-aplikasi{
    font-size: 50px;
    font-weight: bold;
    color: #131737;
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.3), 
        -2px -2px 5px rgba(255, 255, 255, 0.7);  
}
.upload{
    color: #131737;
    font-weight: bold !important;
    font-size: 17px;
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.3), 
        -2px -2px 5px rgba(255, 255, 255, 0.7);
}
.result{
    background-color: #523953;
    border-radius: 5%;
    border: 2px !important;
    border-color: #000 !important;
    color: #ffffff;
    margin-right: 8px;
}

.label-select{
    color: #ffff;
    font-weight: bold;
}
.form-select option[disabled] {
    color: #6c757d !important;
}