<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="https://th.bing.com/th/id/R.493ef1d9d1d2d54cb92c6a96c09740c0?rik=PxUV6PMS4%2f4NUA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-5ySZmQE3o0g%2fWBCJLmt0AXI%2fAAAAAAAAC0E%2fyynFb3PM0l4HxXiRNkN9Y_f7WQozMhhCQCK4B%2fs1600%2fBebek.jpg&ehk=W7XeBxjysnyGN75Td85zla59hbr43zcB0VxH1cRvA0I%3d&risl=&pid=ImgRaw&r=0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href=" {{ url_for('static', filename='main.css') }}">
   
    <title>KNN Classifier</title>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <h1>KNN Classifier</h1>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <div class="row justify-content-center mx-1">
                <div class="col">
                    <label for="train_file" class="text-self-start mb-2">Upload Training File (CSV):</label>
                    <input type="file" class="input p-2 rounded-3 w-75 form-control mx-auto" name="train_file" placeholder="text" required>
                </div>
                <div class="col">
                    <label for="test_file" class="mb-2">Upload Testing File (CSV):</label>
                    <input type="file" class="input p-2 rounded-3 w-75 form-control mx-auto"  name="test_file" placeholder="input file csv" required>
                </div>   
            </div>
            <div class="row">
                <div class="col row-cols-1">
                    <label for="k_value" class="mb-2">Masukan Nilai K :</label>
                    <input type="number" class="input p-2 rounded-3 w-25"  name="k_value" min="1" placeholder="input k" required><br><br>
                    <button class="p-2 w-25 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 mb-3" type="submit">Submit</button>
                </div>  
            </div>      
        </form>

        <div class="row row-cols-2 mb-3">
            <div class="col overflow-auto kotak-fix">
                <h3 class="p-2">Training Data</h3>
                {% if training_data is not none %}
                <table class="table table-striped table-hover table-dark">
                    <tbody>
                        {% for row in training_data.values %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="d-flex justify-content-center align-items-center no-p">No training data uploaded.</p>
                {% endif %}
            </div>

            <div class="col overflow-auto border kotak-fix">
                <h3 class="p-2">Testing Data</h3>
                {% if testing_data is not none %}
                <table class="table table-striped table-hover">
                    <tbody>
                        {% for row in testing_data.values %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="d-flex justify-content-center align-items-center no-p">No testing data uploaded.</p>
                {% endif %}
            </div>
        </div>


        <div class="row w-100 mb-3 justify-content-center align-items-center">
            <div class="col-md-6 w-50 justify-content-center overflow-auto">
                {% if result %}
                <h2 class="p-2">Result</h2>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Prediction</th>
                            <th>Actual Label</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pred, actual in zip(result.predictions, result.actual_labels) %}
                        <tr>
                            <td>{{ pred }}</td>
                            <td>{{ actual }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mb-3 w-100 justify-content-center align-items-center"> 
            <div class="col-md-6 w-50 justify-content-center overflow-auto border">
                <h2>Metrik Evaluasi</h2>
                <ul class="list-group">
                    <li class="list-group-item">Akurasi: {{ result['accuracy'] * 100 }} %</li>
                    <li class="list-group-item">Presisi: {{ result['precision'] * 100 }} %</li>
                    <li class="list-group-item">Recall: {{ result['recall'] * 100 }} %</li>
                    <li class="list-group-item">F1 Score: {{ result['f1_score'] * 100 }} %</li>
                </ul>
            </div>
        </div>
            {% endif %}
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
